{% extends 'accounts/layouts/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>Hotel</title>
{% endblock %}


{% block style %}
<link href="{% static 'accounts/vertical/assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">

{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="float-right page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tds Booking</a></li>
                <li class="breadcrumb-item active">Galerie</li>
            </ol>
        </div>
        <h5 class="page-title">Galerie</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-1">

        <div class="card m-b-30">
            <div class="card-body">

                <form method="POST" action="{%  url 'add-hotel-video' %}" enctype="multipart/form-data"  class="d-flex justify-content-center" >
                    {% csrf_token %}

                    <div class="form-group">
                        <label>Video :</label>
                        {% render_field form.image class="form-control border-0 p-0" %}
                        <small class="text-danger">Seuls les format d'image jpg, jpeg et webp sont acceptés </smal>
                    </div>
                    <div class="d-flex align-items-center">
                       <button type="reset" class="btn btn-secondary mr-2">Annuler</button>
                       <button type="submit" class="btn btn-primary">Ajouter une video</button>
                        
                    </div>
                    
                </form>
                
            </div>

        </div>

    </div>

</div>

<div class="row">
        <div class="col-md-10 offset-1">

            <div class="card m-b-30">
                <div class="card-body">

                    <form method="POST" enctype="multipart/form-data" class="d-flex justify-content-center" >
                        {% csrf_token %}

                        <div class="form-group mr-5">
                            <label>Nom :</label>
                            {% render_field form.name class="form-control" %}
                        </div>

                        <div class="form-group">
                            <label>Image :</label>
                            {% render_field form.image class="form-control border-0 p-0" %}
                            <small class="text-danger">Seuls les format d'image jpg, jpeg et webp sont acceptés </smal>
                        </div>
                        <div class="d-flex align-items-center">
                           <button type="reset" class="btn btn-secondary mr-2">Annuler</button>
                           <button type="submit" class="btn btn-primary">Ajouter l'image</button>
                            
                        </div>
                        
                    </form>
                    
                </div>

            </div>

        </div>

</div>

<div class="row">
    <div class="col-md-10 offset-1">
        <div class="card m-b-30">
            <div class="card-body">
                
                <h4 class="mt-0 header-title">Galerie</h4>
                {% if imgs %}

                    {% for img in imgs %}
                    <div class="d-inline-block">
                        <div class="popup-gallery">

                            <div class="img-fluid d-inline-block mx-1 my-1">
                                <a class="d-inline-block mb-2" href="{{ img.image.url }}" title="{{ img.name }}">
                                        <img src=" {{ img.image.url }} " alt="" width="120"  height="120">
                                </a>
                                
                            </div>
                        </div>
                        <a class="" href="{% url 'del-hotel-img' img.token %}">
                            <button class="btn btn-danger btn-sm d-block" href="#" role="button"><i class="fa fa-trash"></i></button>

                        </a>
                    </div>
                        
                    {% endfor %}

                    {% else %}

                    <p class="">Aucune Image dans galerie</p>
                    
                    {% endif %}
            </div>
        </div>
    </div> 
</div>



{% endblock content %}



{% block script %}
<script src="{% static 'accounts/vertical/assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'accounts/vertical/assets/pages/lightbox.js' %}"></script>
{% endblock %}