{% extends 'accounts/layouts/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>Reservation</title>
{% endblock %}


{% block style %}

{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="float-right page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tds Booking</a></li>
                <li class="breadcrumb-item"><a href="#">Reservations</a></li>
                <li class="breadcrumb-item"><a href="#">Liste des réservations</a></li>
                <li class="breadcrumb-item active">Détails</li>
            </ol>
        </div>
        <h5 class="page-title">Détails de la réservation</h5>
    </div>
</div>

<div class="row">
        <div class="col-md-9">

            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title"> {{ reservation.chambre.hotel.name }}</h4>
                    

                    <dl class="mb-0 row">
                        <dt class="col-sm-4">Reference</dt>
                        <dd class="col-sm-8">{{ reservation.id }}</dd>

                        <dt class="col-sm-4">Code confidentiel </dt>
                        <dd class="col-sm-8">{{ reservation.secret_key }}</dd>
                        
                        <dt class="col-sm-4">Chambre </dt>
                        <dd class="col-sm-8">{{ reservation.chambre.number }}</dd>
                        
                        <dt class="col-sm-4">Statut </dt>
                        <dd class="col-sm-8">{{ reservation.status }}</dd>
                        

                        <dt class="col-sm-4">Arrivée</dt>
                        <dd class="col-sm-8">{{ reservation.check_in|date:"D d M Y" }}</dd>
                        
                        <dt class="col-sm-4">Depart</dt>
                        <dd class="col-sm-8">{{ reservation.check_out|date:"D d M Y" }}</dd>

                    </dl>
                    
                </div>

            </div>
            <div class="card m-b-30">
                <div class="card-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#note-hotel" role="tab" aria-controls="nav-home" aria-selected="true">Noter l'hôtel </a>
                          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#note-chambre" role="tab" aria-controls="nav-profile" aria-selected="false">Noter la chambre</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="note-hotel" role="tabpanel" aria-labelledby="nav-home-tab">
                              <form method="POST" action=" {% url 'hotel-ratings' reservation.token %} ">
                                {% csrf_token %}
                                  <div class="mb-3">
                                    
                                    <label for="score" class="form-label">Score (?/10) <b style="color:red" >*</b></label>
                                    <input type="number" class="form-control" name="score" value="{{ hotel_rating.score }}" id="score"  placeholder="?/10" min="0" max="10" required >
                                  </div>
                                  <div class="mb-3">
                                    <label for="comments" class="form-label">Commentaires</label>
                                    <textarea class="form-control" name="comments" id="comments" placeholder="Entrez votre commentaire" >{{ hotel_rating.comments }}</textarea>
                                  </div>
                                  
                                  <button type="submit" class="btn btn-primary">Enrégistrer</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="note-chambre" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <form  method="POST" action="{% url 'room-ratings' reservation.token %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                  <label for="score" class="form-label">Score<b style="color:red" >*</b></label>
                                  <input type="number" name="score" value="{{ room_rating.score }}" class="form-control" id="score"  placeholder="?/10" min="0" max="10" >
                                </div>
                                <div class="mb-3">
                                  <label for="comments" class="form-label">Commentaires</label>
                                  <textarea class="form-control" name="comments" id="comments" placeholder="Entrez votre commentaire" >{{ room_rating.comments }}</textarea>
                                  
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Enrégistrer</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-3">

            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title"> {{ reservation.chambre.hotel.name }}</h4>
                    <p class="text-muted m-b-30 font-14">Align terms and descriptions
                        horizontally by using our grid system’s predefined classes </p>

                    
                    {% if reservation.status == "AN" %}
                    
                    <p> Annulé</p>
                    {% else %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Annuler
                    </button>
                    
                    
                    {% endif %}
                    
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Avertissement</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            Étes vous sure d'annuler votre réservation ??
                            </div>
                            <div class="modal-footer">
                            <a href="{% url 'annul_reservation' reservation.token %}"><button type="button" class="btn btn-primary">OUI</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                        
                    
                    
                </div>

            </div>

        </div>
</div>



{% endblock content %}

{% block script %}
{% endblock %}