{% extends 'TdsBooking/layouts/base.html'%}
{% load static %}
{% load widget_tweaks %}


{% block title %}
<title>TDS Booking | Demande de Partenariat</title>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1 my-5">
        <div class="card m-30">
            <div class="card-header bg-success text-white">
                <h4 class="mt-0  ">Votre demande a été envoyée avec succès</h4>
            </div>
            <div class="card-body">
                 
                <p class="text-muted m-b-30 font-14">Parsley is a javascript form validation
                    library. It helps you provide your users with feedback on their form
                    submission before sending it to your server.</p>
            </div>
        </div>
    </div> <!-- end col -->

    
</div>
</div>




{% endblock %}